<div class="row">
	<div class="col-xs-12 text-center">
		<h4> {{chapter_title}} </h4>
	</div>
</div>
<div class="row">
	<div class="col-xs-4 text-left">
		<nav>
			<ul class="pagination">
				{% if page_number > 1 %}
				<li class="active">
					<a class="last" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				{% endif %}
			</ul>
		</nav>
	</div>
	<div class="col-xs-4 page_number text-center">
		Page {{page_number}}
	</div>
	<div class="col-xs-4 text-right">
		<nav>
			<ul class="pagination">
				{% if page_number < num_pages %}
				<li class="active">
					<a class="next" aria-label="Previous">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
				{% endif %}
			</ul>
		</nav>
	</div>
</div>
<div class="row">
	<div class="col-6">
	{% for line in page %}
		<p>
		{% for word in line %}
			<a class="word" isword="true"> {{ word }} </a>
		{% endfor %}
		</p>
	{% endfor %}
	</div>
</div>
<div class="row">
	<div class="col-xs-6 text-left">
		<nav>
			<ul class="pagination">
			{% if page_number > 1 %}
				<li class="active">
					<a class="last" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
			{% endif %}
			</ul>
		</nav>
	</div>
	<div class="col-xs-6 text-right">
		<nav>
			<ul class="pagination">
				{% if page_number < num_pages %}
				<li class="active">
					<a class="next" aria-label="Previous">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
				{% endif %}
			</ul>
		</nav>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 text-center page_number">
		Page {{page_number}}
	</div>
</div>