<div class="row">
		<div class="col-xs-12">
			<h4> Welcome to Hypertext Ulysses. Click on any word to see where else it occurs in the book, search for a word below, or pick a chapter to skip to. </h4>
		</div>
	</div>
<div class="row">
		<div class="col-xs-10">
			<div class="form-group">
	        <input type="text" class="form-control" placeholder="Search" id="search-box">
		    </div>
		</div>
		<div class="col-xs-2">
		    <button type="submit" class="btn btn-default" id="search-btn"><span class="glyphicon glyphicon-search"></span></button>
		</div>
</div>
<div class="row">
	<div class="col-12">
		<h2>
			<small> Showing results for: {{word}} <small>
			<h5>
				{{num_results}} occurrences
			</h5>
		</h2>
	</div>
</div>
<div class="row" id="results-table" term="{{word}}">
	<div class="col-6">
		<table class="table table-fixed affix-top">
			<thead>
			<tr>
				<th class="col-xs-3 chapter">
					Chapter
				</th>
				<th class="col-xs-3 line-number">
					Line
				</th>
				<th class="col-xs-6 line">
				</th>
			</tr>
			</thead>
			<tbody>
		{% for result in results %}
			<tr>
			<td class="col-xs-3 chapter">
				{{ result[3] }}
			</td>
			<td class="col-xs-3 line-number">
				<a class="result" page="{{result[2]}}"> 
					{{ result[0] }} 
				</a>
			</td>
			<td class="col-xs-6 line">
				{{ result[1] }}
			</td></tr>
		{% endfor %}
			</tbody>
		</table>
	</div>
</div>