<div class="row">
		<div class="col-xs-12">
			<h4> Welcome to Hypertext Ulysses. Click on any word to see where else it occurs in the book, search for a word below, or pick a chapter to skip to. </h4>
		</div>
	</div>
<div class="row">
		<div class="col-xs-10">
			<div class="form-group">
	        <input type="text" class="form-control" placeholder="Search" id="search-box">
		    </div>
		</div>
		<div class="col-xs-2">
		    <button type="submit" class="btn btn-default" id="search-btn"><span class="glyphicon glyphicon-search"></span></button>
		</div>
</div>
<div class="row">
	<div class="col-12">
		<h2>
			<small> Showing results for: {{word}} <small>
			<h5>
				{{num_results}} occurrences
			</h5>
		</h2>
	</div>
</div>
<div class="row">
	<div class="col-6">
		<table class="table table-fixed affix-top">
			<thead>
			<tr>
				<th class="col-xs-3 chapter">
					Chapter
				</th>
				<th class="col-xs-3 line_number">
					Line
				</th>
				<th class="col-xs-6 line">
				</th>
			</tr>
			</thead>
			<tbody>
		{% for result in results %}
			<tr>
			<td class="col-xs-3 chapter">
				{{ result[3] }}
			</td>
			<td class="col-xs-3 line_number">
				<a class="result" page="{{result[2]}}"> 
					{{ result[0] }} 
				</a>
			</td>
			<td class="col-xs-6 line">
				{{ result[1] }}
			</td></tr>
		{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<script type="text/javascript" id="script2" term="{{word}}">
	$(".result").click(function(){
		//console.log("here");
		$.post("/ulysses/page?page_number=" + this.getAttribute("page"), function(data, status){
			//console.log(data);
			document.getElementById("page").innerHTML = data;
			eval(document.getElementById("script").innerHTML);
			var search_word = "{{word}}";
			$(".word").each(function(index) {
				if(this.innerHTML.replace(/[^a-zA-Z0-9]/g,"").toLowerCase() === search_word) {
					
					this.style.backgroundColor="lightgray";
				}
				else {
					this.style.backgroundColor="transparent";
				}
			});
		});
	});
	$("#search-btn").click(function(){
		console.log($("#search-box").val());
		$.post("/ulysses/search?word=" + $("#search-box").val(), function(data, status){
			document.getElementById("search-results").innerHTML = data;
			$(".result").click(function(){
				//console.log("here");
				$.post("/ulysses/page?page_number=" + this.getAttribute("page"), function(data, status){
					document.getElementById("page").innerHTML = data;
					//console.log(document.getElementById("script").innerHTML);
					eval(document.getElementById("script").innerHTML);
				});
			});
			eval(document.getElementById("script2").innerHTML);
			var search_word = document.getElementById("script2").getAttribute("term");;
			$(".word").each(function(index) {
				if(this.innerHTML.replace(/[^a-zA-Z0-9]/g,"").toLowerCase() === search_word) {
					
					this.style.backgroundColor="lightgray";
				}
				else {
					this.style.backgroundColor="transparent";
				}
			});
		});
	});
	$("#search-box").keyup(function(){
		if(event.which === 13 && $("#search-box").val() !== "") {
			$("#search-btn").click();
		}
	});
</script>